.picker-container {
    padding-top: 1%;
}

.picker-container > div {
    text-align: left;
}

label {
    padding-left: 10%;
    display: inline-block;
    width: 15%;
}

span {
    padding-right: 1%;
    display: inline-block;
    width: 3%;
}

input[type="range"] {
    width: 50%;
}

select {
    width: 50%;
}