<div class="picker-container">
  <app-slider *ngFor="let slider of sliders" [slider]="slider"></app-slider>
  <div>
    <label>Haircolor</label>
    <span></span>
    <select [(ngModel)]="selectedHaircolor" (ngModelChange)="haircolorSelected($event)">
      <option *ngFor="let haircolor of haircolors" [ngValue]="haircolor.value">
        {{haircolor.type}}
      </option>
    </select>
  </div>
  <hr>
  <div>
    <label>Hairlength</label>
    <span></span>
    <span class="multi-choice" *ngFor="let hairlength of hairlengths" [class.selected]="hairlengthSelected == hairlength.value">
        <label for={{hairlength.id}}>{{hairlength.type}}</label>
        <input type="radio" id={{hairlength.id}} name="hairlength" [(ngModel)]="hairlengthSelected" [value]="hairlength.value" [checked]="hairlengthSelected == hairlength.value" />
    </span>
  </div>
  <hr>
  <div>
    <label>Eyecolor</label>
    <span></span>
    <span class="multi-choice-eyecolor" *ngFor="let eyecolor of eyecolors">
        <input type="radio" id={{eyecolor.id}} name="eyecolor" [(ngModel)]="eyecolorSelected" [value]="eyecolor.value" [checked]="eyecolorSelected == eyecolor.value" />
        <label for={{eyecolor.id}}>{{eyecolor.type}}</label>
    </span>
  </div>
  <hr>
  <div>
    <label>Beard</label>
    <span></span>
    <span class="multi-choice" *ngFor="let beard of beards" [class.selected]="beardSelected == beard.value">
        <label for={{beard.id}}>{{beard.type}}</label>
        <input type="radio" id={{beard.id}} name="beard" [(ngModel)]="beardSelected" [value]="beard.value" [checked]="beardSelected == beard.value" />
    </span>
  </div>
  <hr>
  <div>
    <label>Body</label>
    <span></span>
    <span class="multi-choice" *ngFor="let body of bodys" [class.selected]="bodySelected == body.value">
        <label for={{body.id}}>{{body.type}}</label>
        <input type="radio" id={{body.id}} name="body" [(ngModel)]="bodySelected" [value]="body.value" [checked]="bodySelected == body.value" />
    </span>
  </div>
  <hr>
  <div class="calcualte-button">
    <button routerLink="/score" (click)="calculate($event)">Calculate</button>
  </div>
</div>