.picker-container {
    padding-top: 1%;
}

.picker-container > div {
    text-align: left;
}

.picker-container > div.calcualte-button {
    text-align: center;
}

label {
    padding-left: 10%;
    display: inline-block;
    width: 15%;
}

span {
    padding-right: 1%;
    display: inline-block;
    width: 3%;
}

input[type="range"] {
    width: 50%;
}

select {
    width: 50%;
}

.multi-choice {
    width: 10%;
    text-align: center;
    padding-right: 0;
    cursor: pointer;
}

.multi-choice-eyecolor {
    width: 7%;
}

.multi-choice > label {
    padding-left: 0;
    display: inline;
    cursor: pointer;
}

.multi-choice-eyecolor > label {
    width: 7%;
    padding-left: 0;
}

.multi-choice > input {
    display: none;
}

.selected {
    background-color: #7788f3;
}